body {
  margin: 0;
  padding: 10;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  flex: 1
}

.title {
    font-weight: 100;
    margin-bottom: 20px;
    align-self: center;
    
}

.custom-styles {
  --ReactInputVerificationCode-itemWidth: 2.5rem;
  --ReactInputVerificationCode-itemHeight: 3.5rem;
}

.custom-styles .ReactInputVerificationCode__item {
  position: relative;
  color: #262626;
  font-weight: 500;
}

.custom-styles .ReactInputVerificationCode__item,
.custom-styles .ReactInputVerificationCode__item.is-active {
  box-shadow: none;
}

.custom-styles .ReactInputVerificationCode__item:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: #ebebeb;
  transition: background-color 0.2s ease-out;
}

.custom-styles .ReactInputVerificationCode__item.is-active:after {
  background-color: #046cde;
}


/* NAVBAR STYLES */
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }

  ul.navbar li a {
	display: block;
	color: gray; /* Set default text color */
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
  }

  ul.navbar li a:hover {
	color: rgb(92, 119, 226);
  }

  /* CSS for the underlined class */
  ul.navbar li a.active {
	color: rgb(92, 119, 226);
	font-weight: 600;
  }

  /* Laptop styles */
  @media (min-width: 600px) {
	.navbar-container {
		justify-content: flex-end;
	}
  }


  /* Mobil Styles */
  @media(max-width: 600px) {
	.navbar-container {
		/* Centers the navbar items instead of to the rightside. */
		justify-content: center;
	}
	.navbar {
		display: flex;
		width: 90%;
	}
	.laptop-only {
		display: none;
	  }
	

  }


  .navbar-container {
	display: flex;
	position:relative;
	top: 10px;
  }
